@media (min-width:1028px) {
    
.containers{
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient( circle 1080.6px at 10% 20%,  rgba(133,255,189,1) 10%, rgba(255, 251, 125, 0.863) 70.7% );
    box-sizing: border-box;
    display: flex;
    overflow: auto;
    flex-direction: column;
    padding: 50px;
    gap: 40px;

    .ed{
        width: 1000px;
        text-align: end;

        h1{
            font-size: 100px;
            color:transparent;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: black;

            span{
                color: #4e564e;
            }
        }

    }
    .seperator{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
   
        .divsep{
            width: 100vw;
            height: 100vh;
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .sepOne{
                margin: 40px;
                flex: 1;
                display: flex;
                flex-direction: column;
            }
        }
    .bt{
        margin: 40px;
        flex: 2;
        height: auto;
        display: grid;
        grid-template-columns: 250px 250px ;
        gap: 10px;
    }
}
}
.li{
    display: flex;
    width: 200px;
    height: 150px;
    background-color: aquamarine;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 20px 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    transition: 2s linear;
    margin-bottom: 10px;

    h1{
        font-size: medium;

        span{
            color: gray;
            font-weight: bolder;
        }
    }
    .lit{
        width: 70px;
        height: 70px;
        
    }
    
}
.temper{
    width: 350px;
    height: 150px;
    background-color: #aee9f5;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .divo{
        display: flex;
        justify-content:space-around;
        font-size: 20px;
        font-weight: 200;
        color: #948282;
        
        .ticon{
            width: 40px;
            height: 40px;
            color: #f5474d;
        }
    }
    .divt{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        color: #4e564e;

    }
}
.controlbtn{
    display: flex;

    flex-direction:row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 40vw;
    height: 80vh;
    padding: 40px 40px;
    border-radius: 25px;
    background: hsla(270, 94%, 25%, 1);
    background: linear-gradient(90deg, hsla(270, 94%, 25%, 1) 0%, hsla(158, 94%, 49%, 1) 100%);



    button{
        width: 150px;
        height: 150px;
        margin: 10px;
        border: none;
        border-radius: 20px;
        background-color: #012103;
        font-size: large;
        font-weight: bolder;
        color: rgb(243, 235, 235);
        cursor: pointer;

    }
    button:hover{
        scale: 1.1;
        transition: all 1s;
        color: #2e0628;
        background-color:rgb(233, 213, 154) ;
    }
}
}

@media (max-width:768px)  {
    .containers{
       padding: 20px;
       width: 100vw;
       height: auto;
       display: flex;
       flex-direction: column;
       align-items: center;
       background-image: linear-gradient(182.5deg,rgb(35, 109, 39) 1%,rgb(220, 220, 17) 120%);
       scroll-behavior: smooth;
       scroll-snap-type: mandatory;
       gap: 20px;
       flex-grow: 1;
      

       .ed{
            
        h1{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 50px;
            color:transparent;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: black;

            span{
                color: #4e564e;
            }
        }
       }
       .seperator{
        display: flex;
        flex-direction:column;
        justify-content:center;
        align-items: center;
        gap: 20px;
        

        .divsep{
            display: flex;
            flex-direction: column;
            
            flex: 1;
            

            .sepOne{
                margin: 10px;
                flex: 1;
                display: flex;
                flex-direction: column;
            }
        }
        .bt{
            margin: 4px;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 10px;
            flex-grow: 1;
        }

       }

    }

    .temper{
        width: 350px;
        height: 150px;
        background-color: #aee9f5;
        overflow: hidden;
        box-sizing: border-box;
        border-radius: 25px;
        padding: 20px 20px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-right: 10px;
    
        .divo{
            display: flex;
            justify-content:space-around;
            font-size: 20px;
            font-weight: 200;
            color: #948282;
            
            .ticon{
                width: 40px;
                height: 40px;
                color: #f5474d;
            }
        }
        .divt{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            color: #4e564e;
    
        }
    }  
    .controlbtn{
        display: flex;
        flex-direction:row;
        align-items: center;
        justify-content:center;
        flex-wrap: wrap;
        gap: 20px;
        width: 80vw;
        height: 50vh;
        padding: 40px 40px;
        border-radius: 25px;
        background: hsla(270, 94%, 25%, 1);
        background: linear-gradient(90deg, rgb(4, 124, 84) 0%, hsla(158, 94%, 49%, 1) 100%);
    
    
        .conbtn{
            display: flex;
            flex-direction: row ;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            
        button{
            width: 80px;
            height: 80px;
            margin: 8px;
            border: none;
            border-radius: 20px;
            background-color: #012103;
            font-size: small;
            font-weight: bolder;
            color: rgb(243, 235, 235);
            cursor: pointer;
            word-wrap: break-word;
            padding: 10px 10px;
    
        }
        button:hover{
            scale: 1.1;
            transition: all 1s;
            color: #2e0628;
            background-color:rgb(233, 213, 154) ;
        }
    }
    }  

    .li{
        display: flex;
        width: 200px;
        height: 150px;
        background-color: aquamarine;
        box-sizing: border-box;
        border-radius: 20px;
        padding: 20px 20px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        cursor: pointer;
        transition: 2s linear;
        flex-grow: 1;
        margin-bottom: 10px;
    
        h1{
            font-size: medium;
    
            span{
                color: gray;
                font-weight: bolder;
            }
        }
        .lit{
            width: 70px;
            height: 70px;
            
        }
        
    }
}